{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "12.6.0" }
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
