# node packages directory
node_modules/

# environment
.env
build/

# vscode editor versioned files and confif files
.vscode/

# IDEA editor verioned files and config files
.idea/**/*.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/mongoSettings.xml

# misc
.dbdump/
dump.rdb
.DS_Store