.modal.genericModal
    .modal-content
        p.text-center.genericModal-template Do you want to delete this post?
        .actionBtns
            button.btn.waves-effect.waves-ripple.genericModal-yes.mdi.mdi-check yes
            button.btn.waves-effect.waves-ripple.genericModal-no.mdi.mdi-close no
