.sidenav-short.d-flex.flex-column
            a.btn-icon.mdi.mdi-36px.mdi-arrow-right.sidenav-trigger(data-target="sidenav-admin")
            a.btn-icon.mdi.mdi-36px.mdi-search-web(href="admin/search")
            a.btn-icon.mdi.mdi-36px.mdi-chart-bar(href="/admin/metrics")
            a.btn-icon.mdi.mdi-36px.mdi-square-edit-outline(href="/admin/posts")
            a.btn-icon.mdi.mdi-36px.mdi-comment(href="/admin/comments")
            a.btn-icon.mdi.mdi-36px.mdi-file-image(href="/admin/media")

.sidenav.no-autoinit#sidenav-admin
    a.btn(href="admin/search") search
    a.btn(href="/admin/metrics") metrics
    a.btn(href="/admin/posts") posts
    a.btn(href="/admin/comments") comments
    a.btn(href="/admin/media") media