doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#222")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="icon" href="/images/favicon-wb-192.png" sizes="192 192" type="image/png")
        link(rel="icon" href="/images/favicon-wb-96.png" sizes="96 96" type="image/png")
        link(rel="stylesheet" href="/build/main.css")
        title= title
    body
        .login
            nav
                a.waves-effect.waves-classic.brand-logo(href="/") 
                    img(src="/images/blog-logo.svg", alt="", srcset="")
        
            .form-container.pt-5
                    form()
                        h2 Hello! 
                        .row
                            .input-field.col-12
                                input.validate#user-email(type="email" )
                                label(for="user-email").text-capitalize Your email
                                span.helper-text(data-wrong="wrong!" data-success="correct!")
                            .input-field.col-12
                                input.validate#user-password(type="password")
                                label(for="user-password").text-capitalize Your password
                                span.helper-text(data-wrong="wrong!" data-success="correct!")
                            .col-12
                                btn.btn#signIn.waves-effect.waves-ripple Sign me in
            footer
                .white-text Designed with much 
                    i.mdi.mdi-heart.materialize-red-text
                    |&nbsp; in Gisenyi &nbsp;
                    img(src="/images/rda.jpeg", alt="")
        
        include ../_cookiesConset

        script(type="text/javascript" src="/build/vendors~main.chunk.js")
        script(type="text/javascript" src="/build/editor.chunk.js")
        script(type="text/javascript" src="/build/jquery.chunk.js")
        script(type="text/javascript" src="/build/materialize.chunk.js")
        script(type="text/javascript" src="/build/popper.chunk.js")
        script(type="text/javascript" src="/build/main.js")