extends layout
block content
    .metrics
        include _nav

    
        //- sidenav short
        .sidenav-short.d-flex.flex-column
            a.btn-icon.mdi.mdi-36px.mdi-arrow-right(href="#")
            a.btn-icon.mdi.mdi-36px.mdi-search-web(href="#")
            a.btn-icon.mdi.mdi-36px.mdi-chart-bar(href="#")
            a.btn-icon.mdi.mdi-36px.mdi-square-edit-outline(href="#")
            a.btn-icon.mdi.mdi-36px.mdi-comment(href="#")
            a.btn-icon.mdi.mdi-36px.mdi-file-image(href="#")
        
    