extends layout
block content
    .newpost
        nav
            button.btn-flat.btn-outline.text-lowercase.waves-effect.waves-light.edit-close close
            a.brand-logo.waves-effect(href="/admin/metrics") 
                img(src="/images/blog-logo.svg", alt="avpaul", srcset="")
            .editor-status-save.d-inline-block  
            .d-inline-block.flex-grow-1
            .d-flex.align-items-center
                button.btn-icon.white-text.sidenav-trigger(data-target="post-settings")
                    i.mdi.mdi-cogs.mdi-36px
                button.btn-flat.btn-outline.waves-effect.waves-light.edit-preview preview
                button.btn-flat.btn-outline.waves-effect.waves-light.edit-publish publish
        
        .sidenav.no-autoinit(id="post-settings")
            .sidenav-title Post Settings

            ul.collapsible.no-autoinit
                li
                    .collapsible-header.text-capitalize status
                        i.mdi.mdi-chevron-down.text-primary
                    .collapsible-body
                        button.btn.datepickerdropdown-trigger(data-target="post-publish-schedule") 
                            i.mdi.mdi-calendar-blank.mdi-36px
                            |&nbsp; publish immediately
                            .schedule.d-none                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                .schedule-caption will be published
                                .schedule-time Thu Aug 23 @02:00 
                                
                        .dropdown-content.c-datepicker-container#post-publish-schedule
                        .switch
                            label(for="post-frontPage") Stick to the front page
                                input(type="checkbox", name="post-frontPage" id="post-frontPage")
                                span.lever
                        .switch
                            label(for="post-pendingReview") Pending review
                                input(type="checkbox", name="post-pendingReview" id="post-pendingReview")
                                span.lever
                li
                    .collapsible-header.text-capitalize categories & tags
                        i.mdi.mdi-chevron-down.text-primary
                    .collapsible-body
                        .h6.text-capitalize.text-primary choose a category
                        .pl-3 
                            p.mt-0
                                label.black-text(for="category-business")
                                    input.post-categories#category-business(type="checkbox", name="business")
                                    span.text-capitalize business
                            p
                                label.black-text(for="category-tech")
                                    input.post-categories#category-tech(type="checkbox", name="tech")
                                    span.text-capitalize technology
                            p
                                label.black-text(for="category-others")
                                    input.post-categories#category-others(type="checkbox", name="others")
                                    span.text-capitalize others
                        .h6.text-capitalize.text-primary add tags
                            .no-autoinit.mt-0.chips.chips-placeholder
                li            
                    .collapsible-header.text-capitalize featured image
                        i.mdi.mdi-chevron-down.text-primary
                    .collapsible-body.position-relative
                        img.featured-image.no-image
                        button.btn.featured-img-uploader-btn.no-image set featured image
                        input.d-none.featured-img-uploader(type="file", name="featured-image")
                li
                    .collapsible-header.text-capitalize sharing
                        i.mdi.mdi-chevron-down.text-primary
                    .collapsible-body
                        .h6.text-primary Automatically share this post on
                        .pl-3 
                            p.mt-0
                                label.black-text(for="postShare-facebook")
                                    input.postShare#postShare-facebook(type="checkbox", name="share-facebook")
                                    span Facebook
                            p
                                label.black-text(for="postShare-instagram")
                                    input.postShare#postShare-instagram(type="checkbox", name="share-instagram")
                                    span Instagram
                            p
                                label.black-text(for="postShare-twitter")
                                    input.postShare#postShare-twitter(type="checkbox", name="share-twitter")
                                    span Twitter
                li        
                    .collapsible-header.text-capitalize excerpt
                        i.mdi.mdi-chevron-down.text-primary
                    .collapsible-body
                        .input-field.clearfix
                            textarea.materialize-textarea.post-excerpt(name="post-excerpt", rows="30", data-length="200")
                            label(for="post-excerpt") Post excerpt
            .d-flex.justify-content-center.align-items-end
            button.btn-flat.btn-outline.edit-delete.white-text 
                    i.mdi.mdi-trash-can
                    |&nbsp; delete the draft
            
        .container
            div
                .h1.post-title(contenteditable="true") Here goes the title.
            ul.tabs
                li.tab
                    a.text-capitalize.active(href="#editor-visual") visual
                li.tab
                    a.viewHTML.text-uppercase(href="#editor-html") html
            
            .row#editor-visual
                #editor
            .row#editor-html
                pre
                    code.html.editor-html-view

            .editor-status-wordcount.fixed-bottom 0 words
        
            //- Include cookie conset 
            include ../_cookiesConset
            //- Include delete post modal
            include _genericModal
block scripts 
    script(src="/build/vendors~main.chunk.js")
  
