.modal.modal-fixed-footer#cookies-conset
    .modal-content
        p.text-center To personalize your experience, i use browser cookies and share some information with third party services that monitor your usage of this site.
            a(href='/privacypolicy#cookies') Learn more.
            
    .modal-footer.hide-on-med-and-down
        button.btn.waves-effect.waves-ripple.cookies-consent-disagree.mdi.mdi-close i don't like it
        button.btn.waves-effect.waves-ripple.cookies-consent-agree.mdi.mdi-check that's ok
    .modal-footer.hide-on-med-and-up
        button.btn.waves-effect.waves-ripple.cookies-consent-agree.mdi.mdi-check that's ok
        