footer
    .d-flex.justify-content-center
        a.text-capitalize(href="#") hire me
    .d-flex.justify-content-center.align-items-center.mt-1
        i.mdi.mdi-copyright.mdi-24px.copyright-logo
        .copyright-year.white-text 2018 
        img(src="/images/blog-logo.svg", alt="avpaul", srcset="")
