nav.blog
    a.brand-logo.waves-effect(href="/admin") 
        img(src="/images/blog-logo.svg", alt="avpaul", srcset="")
    
    a.mdi.mdi-menu.sidenav-trigger.mdi-36px.white-text(data-target="mobile-nav")
    ul.hide-on-med-and-down.text-uppercase
        li
            a.white-text(href="") home
        li
            a.white-text(href="") articles
        li
            a.white-text(href="") projects
        li
            a.white-text(href="") ressources
        li
            a.white-text(href="") about
        li
            a.white-text.mdi.mdi-search-web(href="")