ul.sidenav#mobile-nav.left-aligned
    li
        .d-flex.align-items-center.justify-content-between.p-3
            img.rounded-circle.img-thumbnail.user-image(src="/images/me-fam.jpg", alt="")
            .text-capitalize.text-right
                .user-name av paul
                .user-work web developer
                .user-work ui/ux designer
    li
        .follow-btns
            btn.btn-floating#follow-facebook
                i.mdi.mdi-facebook
            btn.btn-floating#follow-twitter
                i.mdi.mdi-twitter
            btn.btn-floating#follow-instagram
                i.mdi.mdi-instagram
            btn.btn-floating#follow-linkedin
                i.mdi.mdi-linkedin
    li
        ul.nav
            li
                a.text-uppercase(href="") home
            li
                a.text-uppercase(href="") articles
            li
                a.text-uppercase(href="") projects
            li
                a.text-uppercase(href="") ressources
            li
                a.text-uppercase(href="") about
            li
                a.btn-icon.mdi.mdi-search-web.mdi-24px.white-text