extends layout
block content
    include _nav
    include _sidenav

    //- article
    .article
        //- Progress
        .progress
            .determinate(style="width: 70%")
        img.featured-image(src="/images/code.jpg", alt="")

        .container.d-flex
            //- buttons for sharing and like button
            .article-share-btns
                btn.btn-floating#article-like
                    i.mdi.mdi-hand.mdi-rotate-315
                btn.btn-floating#share-facebook
                    i.mdi.mdi-facebook
                btn.btn-floating#share-twitter
                    i.mdi.mdi-twitter
                btn.btn-floating#share-instagram
                    i.mdi.mdi-instagram
                btn.btn-floating#share-linkedin
                    i.mdi.mdi-linkedin

            .article-content           
                h1 Webpack or Browserify & Gulp: Which Is Better?
                p As web applications grow increasingly complex, making your web app scalable becomes of the utmost importance. The web also provides some of its own unique development challenges. For example, since webpages make a lot of asynchronous requests, your web app’s performance can be significantly degraded from having to request hundreds of JS and CSS files, each with their own tiny overhead (headers, handshakes, and so on). This particular issue can often be addressed by bundling the files together, so you’re only requesting a single bundled JS and CSS file rather than hundreds of individual ones.
                h3 A Quick Introduction to Gulp
                p Gulp’s API consists of four functions:
                ul.browser-default
                    li gulp.src
                    li gulp.dest
                    li gulp.task
                
                figure
                    img(src="/images/illustration-gulp.jpg", alt="How Gulp works")
                    figcaption Illustating how Gulp works

                h4 The code

                //- code
                pre cssmin: {
                        |build: {
                        |src: 'styles/main.css',
                        |dest: 'styles/main.min.css'
                        |}
                        |},
                        |concat: {
                        |options: {
                        |    separator: '\n/*next file*/\n\n'  //this will be put between conc. files
                        |},
                        |dist: {
                        |    src: ['scripts/hello.js', 'scripts/main.js'],
                        |    dest: 'scripts/built.js'
                        |}
                        |},

                        |uglify: {
                        |build: {
                        |    files: {
                        |    'scripts/built.min.js': ['scripts/built.js']
                        |    }
                        |}
                        |}

                blockquote
                    p This amounts to a significant number of tasks that have nothing to do with writing the logic of the web app itself. This is where task runners come in. The purpose of a task runner is to automate all of these tasks so that you can benefit from an enhanced development environment while focusing on writing your app. Once the task runner is configured, all you need to do is invoke a single command in a terminal.

                h3 What & when to use?
                p There is no the only right or wrong answer when it comes to the selection of build tools for your next projects. Your choice will mainly depend on the size of your project, your skill set and whether you are more interested in coding (Gulp task runner) or configuring (Grunt build tool & Webpack). Moreover, personal preferences have a great bearing on your choice as well, like performance speed, project deadlines, types of plugins available, and so on.
                
                .article-info
                    div Originally published May 28, 2015 8:00:00 AM, updated May 17 2018
                    div By 
                        span.article-author AvPaul

                h2.text-demi What to read next:
                .suggested-articles
                    .suggested-article
                        img(src="/images/code.jpg", alt="")
                        .py-2.px-3
                            a.h4(href="#") Webpack or Browserify & Gulp: Which Is Better?
                            p As web applications grow increasingly complex, making your web app scalable becomes of the utmost importance. 
                            .d-flex.justify-content-between.suggested-article-actions
                                .mdi.mdi-clock 1h ago
                                .mdi.mdi-arrow-right
                    .suggested-article
                        img(src="/images/code.jpg", alt="")
                        .py-2.px-3
                            a.h4(href="#") Webpack or Browserify & Gulp: Which Is Better?
                            p As web applications grow increasingly complex, making your web app scalable becomes of the utmost importance. 
                            .d-flex.justify-content-between.suggested-article-actions
                                .mdi.mdi-clock 1h ago
                                .mdi.mdi-arrow-right
                        
        .article-comments
            .container.pt-1
                h4 Responses
                .clearfix
                    textarea.comment-textarea.materialize-textarea(name="new-comment", cols="80",placeholder="Your thought...")
                    btn.btn.float-right.add-comment add comment
                .comments
                    .card.comment
                        .card-title 
                            span.comment-author av paul
                            span.comment-publish-date sept 12
                        .card-content.comment-content Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut. Lorem ipsum dolor sit amet, soluta regione urbanitas vis in, qui elit populo ut.
                        .card-action
                            button.btn-icon.comment-replies 2 replies
                                i.mdi.mdi-chevron-down
    

    //- include the footer
    include _footer

                        

       
