extends layout
block stylesheet
block content
    .container-fluid.p-cont.mx-md-auto
        .d-flex.justify-content-around.my-2.filters(id="page-filters")
            a.btn.mr-2
                i.fas.fa-dollar-sign.fa-2x(data-fa-transform="up-1" style="color: #071d34 ")
                i.fas.fa-dollar-sign.fa-2x(data-fa-transform="up-1" style="color: #071d34 ")
            a.btn.mr-2
                i.fas.fa-desktop.fa-2x(data-fa-transform="up-1" style="color: #071d34")
            a.btn.mr-2
                i.fas.fa-globe.fa-2x(data-fa-transform="up-1" style="color: #071d34")

        .articles.justify-content-center 
            a.article-thumb.p-1.pl-2.my-2.rounded.mx-md-2(href="/article/2345")
                div.art-img
                    img.img-fluid(src="/images/design.jpg") 
                div.thumb-title
                    h2 Tech startup way: the case of Rwanda
                div
                    .article-category.d-inline-block
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                    .d-inline-block.ml-3#publication-date
                        i.fas.fa-calendar-alt(style="color: #071d34 ")
                        |&nbsp; 24 Apr 2018
            section.article-thumb.p-1.pl-2.my-2.rounded.mx-md-2
                div.art-img
                    img.img-fluid(src="/images/design.jpg") 
                div.thumb-title
                    h2 Tech startup way: the case of Rwanda
                div
                    .article-category.d-inline-block
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                    .d-inline-block.ml-3#publication-date
                        i.fas.fa-calendar-alt(style="color: #071d34 ")
                        |&nbsp; 24 Apr 2018
            section.article-thumb.p-1.pl-2.my-2.rounded.mx-md-2
                div.art-img
                    img.img-fluid(src="/images/design.jpg") 
                div.thumb-title
                    h2 Tech startup way: the case of Rwanda
                div
                    .article-category.d-inline-block
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                        i.fas.fa-dollar-sign(style="color: #071d34 ")
                    .d-inline-block.ml-3#publication-date
                        i.fas.fa-calendar-alt(style="color: #071d34 ")
                        |&nbsp; 24 Apr 2018
           

