.metrics {
    .sidenav-short {
        background-color: #FBE9E7;
        width: 70px;
        height: 100%;
        .btn-icon {
            &:first-of-type {
                margin-top: 3rem;
            }
            margin-bottom: 3rem;
            color: $primary-color;
            &:hover {
                color: $secondary-color-light;
            }
            &.active {
                color: $secondary-color;
            }
        }
    }
}