nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.8rem;
    .brand-logo {
        position: static;
        img {
            z-index: unset;
            height: 3.2rem;
        }
    }
    .user-image {
        height: 54px;
        width: 54px;
        border: none;
    }
    .btn-icon {
        height: 54px;
        line-height: 54px;
    }
}