$active-classes:("metrics":"href*="metrics"", "posts":"href*="posts"", "media":"href*="media"", "search":"href*="search"", "comments":"href*="comments"");
.sidenav#sidenav-admin {
    &.opened {
        width: 200px;
        margin-left: 80px;
    }
    top: 64px;
    .btn {
        display: block;
        box-shadow: none;
        border-radius: 0;
        background-color: white;
        &:first-of-type {
            margin-top: calc(3rem + 76px);
        }
        @each $cl,
        $attr in $active-classes {
            .#{$cl} &[#{$attr}] {
                background-color: map-get($map: $brown, $key: 'lighten-3');
            }
        }
        line-height: 76px;
        height: 76px;
        color: $primary-color;
        &:hover {
            background-color: #FBE9E7;
        }
        &.active {
            color: $secondary-color;
        }
    }
}

.sidenav-short {
    position: fixed;
    z-index: 100;
    background-color: #FBE9E7;
    width: 70px;
    height: 100%;
    .btn-icon {
        &:first-of-type {
            margin-top: 3rem;
        }
        @each $cl,
        $attr in $active-classes {
            .#{$cl} &[#{$attr}] {
                background-color: map-get($map: $brown, $key: 'lighten-3');
            }
        }
        line-height: 76px;
        height: 76px;
        color: $primary-color;
        &:hover {
            color: $secondary-color-light;
        }
        &.active {
            color: $secondary-color;
        }
    }
}

.sidenav#sidenav-admin+.sidenav-overlay {
    background-color: transparent;
}