nav.blog {
    justify-content: space-between;
    @media #{$medium-and-down} {
        padding: 0 1.2rem
    }
    .brand-logo img {
        height: 3rem;
    }
    // socialfeeds trigger For future release
    // .socialFeed-trigger {
    //     border: none;
    //     border-radius: 2px;
    //     display: inline-flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 16px;
    //     height: 36px;
    //     padding: 0 16px;
    //     text-transform: lowercase;
    //     vertical-align: middle;
    //     background: transparent;
    //     color: $secondary-color;
    //     i {
    //         margin-top: -.3rem;
    //     }
    // }
    ul {
        height: 80%;
        a {
            font-size: 1.4rem;
        }
    }
    @media #{$medium-and-down} {
        a.menubar {
            height: auto;
            margin-right: 0;
        }
    }
    //Mobile nav trigger
    .menubar {
        .menubar_t,
        .menubar_m,
        .menubar_b {
            display: block;
            height: 2px;
            width: 44px;
            background-color: #ffffff;
            transform-origin: center;
        }
        .menubar_m {
            margin: 10px 0;
        }
        .menubar_t.open {
            animation: menubart_open linear 1s forwards;
        }
        .menubar_m.open {
            animation: menubarm_open linear 750ms forwards;
        }
        .menubar_b.open {
            animation: menubarb_open linear 1s forwards;
        }
    }
}

@keyframes menubart_open {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: rotate(22.5deg) translateX(4px) translateY(4px);
    }
    100% {
        transform: rotate(45deg) translateX(9px) translateY(9px);
    }
}

@keyframes menubarm_open {
    from {
        opacity: 1;
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        opacity: .75;
        transform: translateX(-4px);
    }
    75% {
        opacity: .37;
        transform: translateX(-8px);
    }
    to {
        opacity: 0;
        transform: translateX(-12px);
        display: none;
    }
}

@keyframes menubarb_open {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: rotate(-22.5deg) translateX(4px) translateY(-4px);
    }
    to {
        transform: rotate(-45deg) translateX(8px) translateY(-8px);
    }
}