.article {
    .progress {
        position: sticky;
        top: 0;
        margin: 0;
    }
    img.featured-image {
        height: 192px;
        width: 100%;
        @media #{$medium-and-up} {
            height: 450px;
        }
    }
    .container.d-flex {
        flex-direction: column;
        @media #{$medium-and-up} {
            flex-direction: row
        }
    }
    // shared
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        color: $secondary-color;
    }
    // share buttons
    .article-share-btns {
        order: 2;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        @media #{$medium-and-up} {
            order: 1;
            display: block;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }
        .btn-floating {
            width: 50px;
            height: 50px;
            i {
                font-size: 32px;
                line-height: 50px;
            }
            @media #{$medium-and-up} {
                width: 70px;
                height: 70px;
                margin-top: 20px;
                i {
                    font-size: 42px;
                    line-height: 70px;
                }
            }
        }
        #article-like {
            border: 1px $secondary-color solid;
            background-color: $white;
            i {
                color: #4E342E;
            }
        }
        #share-facebook {
            background-color: $fb-color;
        }
        #share-twitter {
            background-color: $tw-color;
        }
        #share-instagram {
            background-color: $ins-color;
        }
        #share-linkedin {
            background-color: $li-color;
        }
    }
    // article content
    .article-content {
        order: 1;
        padding: 0 20px;
        @media #{$medium-and-up} {
            order: 2;
            margin-left: 60px;
            padding: 0;
        }
        p,
        ul,
        li,
        div,
        figure {
            color: $text-color;
            font-size: 18px;
        }
        h2,
        .h2,
        h3,
        .h3 {
            font-weight: 400;
        }
        .text-demi {
            font-weight: 400;
        }
        pre {
            margin-left: -20px;
            margin-right: -20px;
            @media #{$medium-and-up} {
                margin-left: auto;
                margin-right: auto;
            }
            background-color: #FBE9E7;
            padding: 25px 50px;
            overflow-y: auto;
        }
        figure {
            display: block;
            margin-left: -20px;
            margin-right: -20px;
            @media #{$small-and-down} {
                img {
                    width: 100%;
                    height: 216px;
                }
            }
            @media #{$medium-and-up} {
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
            }
            @media #{$large-and-up} {
                max-width: 850px;
            }
            figcaption {
                padding-top: 5px;
                @media #{$medium-and-up} {
                    padding-top: 8px;
                }
                text-align: center;
                background-color: #eaeaea;
            }
        }
        blockquote {
            &:hover {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            }
            p {
                font-style: italic;
            }
        }
        .article-info {
            font-size: 15px;
            div {
                font-size: inherit;
            }
            .article-author {
                color: #5D4037;
                font-weight: 400;
            }
        }
    }
    // suggested articles
    .suggested-articles {
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
        @media #{$medium-and-up} {
            flex-direction: row;
            width: 100%;
        }
        .suggested-article {
            margin-bottom: 10px;
            &:hover {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            }
            img {
                width: 100%;
                height: 192px;
            }
            @media #{$medium-and-up} {
                margin-bottom: 0;
                width: 49%;
                &:first-of-type {
                    margin-right: 1%;
                }
                &:last-of-type {
                    margin-left: 1%;
                }
                img {
                    height: 192px;
                }
            }
            .h4 {
                font-weight: 400;
                line-height: 120%;
            }
            p {
                margin: 10px 0;
                line-height: 1.2;
            }
        }
        .suggested-article-actions>div {
            color: #5D4037;
            font-size: 18px
        }
    }
    // article comments
    .article-comments {
        background-color: #FAFAFA;
        margin-top: 20px;
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
        textarea.materialize-textarea:focus:not(readonly) {
            box-shadow: none;
            border: 1.5px $primary-color solid;
        }
        .comment-textarea {
            border: 1.5px $primary-color solid;
            font-weight: 300;
            line-height: normal;
            padding: .8rem;
            resize: none;
            min-height: 6rem;
            box-sizing: border-box;
            outline: none;
            margin-bottom: 0;
        }
        .add-comment {
            background-color: $primary-color;
            border-radius: 0;
            height: 50px;
            line-height: 50px;
            padding: 0 16px;
            font-weight: 700;
        }
        .comment {
            border-radius: 0;
            .card-title {
                padding: 10px 24px 0 24px;
                font-weight: 400;
            }
            .comment-author,
            .comment-publish-date {
                display: inline-block;
                text-transform: capitalize;
                color: $text-color;
            }
            .comment-author {
                font-size: 18px;
                @media #{$medium-and-up} {
                    font-size: 24px;
                }
                margin-right: 20px;
                color: $primary-color;
            }
            .comment-publish-date {
                font-size: 14px;
                @media #{$medium-and-up} {
                    font-size: 16px;
                }
            }
            .comment-content {
                padding-top: 10px;
                padding-bottom: 10px;
                @media #{$medium-and-up} {
                    padding-top: 18px;
                    padding-bottom: 18px;
                }
                color: $text-color;
                font-size: 18px;
            }
            .comment-replies {
                font-size: 18px;
                color: $primary-color;
                i {
                    color: $secondary-color;
                }
            }
        }
    }
}