.error {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc( 100vh - 174px);
    justify-content: center;
    align-items: center;
    .h1 {
        color: #ff1100;
    }
}